{% extends 'main/pattern.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block active3 %}active{% endblock %}
{% block body %}
<div class="card mb-4">
    <div class="card-header" style="font-family: 'UR'">
        Аттестат аккредитации оператора технического осмотра транспортных средств
    </div>
    <div class="row g-0">
        <div class="card-body">
            <img src="{% static 'main/img/ph5.jpg' %}" class="img-fluid rounded" alt="ph6">
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" style="font-family: 'UR'">
        Категории транспортных средств, которые могут быть предоставлены на технический осмотр:
    </div>
    <div class="card-body">
        <ol class="list-group list-group-flush">
            <li class="list-group-item">М1 - транспортные средства, используемые для перевозки
                пассажиров
                и имеющие, помимо места водителя, не более восьми мест для сидения - легковые
                автомобили.</li>
            <li class="list-group-item">M2 - транспортные средства, используемые для перевозки
                пассажиров, имеющие, помимо места водителя, более восьми мест для сидения, технически
                допустимая максимальная масса которых не превышает 5 т.</li>
            <li class="list-group-item">M3 - транспортные средства, используемые для перевозки
                пассажиров, имеющие, помимо места водителя, более восьми мест для сидения, технически
                допустимая максимальная масса которых превышает 5 т.</li>
            <li class="list-group-item">N1 - транспортные средства, предназначенные для перевозки
                грузов,
                имеющие технически допустимую
                максимальную массу не более 3,5 т.</li>
            <li class="list-group-item">N2 - транспортные средства, предназначенные для перевозки
                грузов,
                имеющие технически допустимую
                максимальную массу свыше 3,5 т, но не боле е 12.</li>
            <li class="list-group-item">N3 - транспортные средства, предназначенные для перевозки
                грузов,
                имеющие технически допустимую
                максимальную массу более 12 т.</li>
            <li class="list-group-item">L - мототранспортные средства</li>
            <li class="list-group-item">O3 - прицепы, технически допустимая максимальная масса которых
                свыше 3,5 т, но не более 10 т.</li>
            <li class="list-group-item">O4 - прицепы, технически допустимая максимальная масса которых
                более 10 т.</li>
        </ol>
    </div>
</div>
{% endblock %}